@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    
}

@font-face {
    font-family: 'pageturningfont';
    src: url('pageturningfont/iconfont.eot'); /* IE9*/
    src: url('pageturningfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pageturningfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('pageturningfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('pageturningfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    font-family: "microsoft yahei";
    background: url("image/background.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#root {
    height: 100%;
    width: 100%;
    min-width: 980px;
    min-height: 500px;
    position: relative;
}

.page {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    margin-top: -100%;
    transition: margin-top 1s;
    -webkit-transition: margin-top 1s;
    -ms-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
}

.page.visible {
    margin-top: 0;
}

#personInfo {
    height: 600px;
    width: 450px;
    position: absolute;
    left: 0; top: 50%; margin-top: -300px;
    background-color: rgba(33, 62, 44, 0.8);
    border-radius: 8px;
    color: white;
    display: block;
}

#myName {
    font-size: 28px;
    padding: 30px 0 10px 20px;
}

#education {
    font-size: 14px;
    padding: 0 0 30px 20px;
}

#personInfo p {
    margin: 0;
    padding: 0 20px;
}

.info {
    font-size: 20px;
    padding: 10px 20px;
}

.info .linkIcon {
    font-family: "iconfont";
    font-size: 30px;
    padding-right: 5px;
}

.info a {
    text-decoration: none;
    color: white;
}

.info a:hover {
    color: rgb(253, 223, 93);
}

.socialInfo {
    position: absolute;
    bottom: 30px; left: 20px;
}

.socialInfo a {
    font-family: "iconfont";
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.socialInfo a.smaller {
    font-family: "iconfont";
    font-size: 35px;
}

.socialInfo a:hover {
    color: rgb(253, 223, 93);
}

#rightBox {
    height: 600px;
    width: 450px;
    position: absolute;
    border-radius: 8px;
    right: 0; top: 50%; margin-top: -300px;
}

#rightBox #emiwang {
    position: absolute;
    top: 50%; margin-top: -100px;
    left: 50%; margin-left: -100px;
    right: 0;
}

 #inventory {
    position: absolute;
    bottom: 70px;

}

#inventory div {
    display: inline-block;
    width: 222px;
    padding: 20px 0;
    font-size: 20px;
    color: rgb(253, 223, 93);
    text-decoration: none;
    text-align: center;
}

#inventory div span {
    font-family: "iconfont";
    font-size: 50px;
    padding-right: 10px;
}

#pageDown {
    font-family: 'pageturningfont';
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 80px;
    background-color: rgba(33, 62, 44, 0.8);
    color: #fff;
}

#pageDown:hover {
    cursor: pointer;
    color: rgb(253, 223, 93);
}

#pageDown {
    position: fixed;
    bottom: 50px; right: 100px;
} 

.pageBox {
    height: 600px;
    width: 980px;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -300px;
    margin-left: -490px;
}

#page1 .pageBox,
#page2 .pageBox,
#page3 .pageBox,
#page4 .pageBox {
    background-color: rgba(33, 62, 44, 0.5);
    color: rgb(253, 223, 93);
}

#page1 h1,
#page2 h1,
#page3 h1,
#page4 h1 {
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}

#page2 dl,
#page3 dl,
#page4 dl {
    padding: 5px 20px;
}

#page2 dt,
#page3 dt,
#page4 dt {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
}

#page1 ul li {
    padding: 10px 0;
}
