#skillPage,
#experiencePage,
#projectPage,
#assessmentPage {
    display: none;
    width: 980px;
    height: 100%;
    margin: auto;
    position: relative;
}  

#skillPageBox,
#experiencePageBox,
#projectPageBox,
#assessmentPageBox {
    height: 600px;
    width: 980px;
    background-color: rgba(33, 62, 44, 0.5);
    margin: -300px 0 0 0;
    position: absolute;
    top: 50%;
    color: rgb(253, 223, 93);
}

#skillPageBox h1,
#experiencePageBox h1,
#projectPageBox h1,
#assessmentPageBox h1 {
    color: #fff;
    padding: 20px;
    margin: 20px 0;
}

#experiencePageBox dl,
#projectPageBox dl,
#assessmentPageBox dl {
    padding: 5px 20px;
}

#experiencePageBox dt,
#projectPageBox dt,
#assessmentPageBox dt {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
}

#skillPageBox ul li {
    padding: 10px 0;
}